<footer class="footer">

    <span class="footer__copyright">&copy; 2016-2017. |  <a href="https://github.com/ChristopherMa2012">christopherma2012</a> | 主题<a href="https://github.com/someus/huno">Huno</a></span>
    
</footer>